body {
    background: url('http://thepaperwall.com/wallpapers/digital_artwork/big/big_fef64efae920d82dda9ce25646b848199ce3146f.png') no-repeat center center fixed;
    background-size: cover;
}
.jumbotron {
    background: #F2DEDE;
}
.badge {
    background: #447985;
}
